
#
# Sump pump Application service configuration
#

# Address of the broker to connect
WM_SERVICES_MQTT_HOSTNAME=
# MQTT port (usually 8883 for secure access, or 1883 for unsecure)
WM_SERVICES_MQTT_PORT=
# Username to connect to broker
WM_SERVICES_MQTT_USERNAME=
# Password to connect to broker
WM_SERVICES_MQTT_PASSWORD=
# Uncomment following line to skip TLS check on brocker (uncomment it for local brocker)
#WM_SERVICES_MQTT_FORCE_UNSECURE=true

WM_SERVICES_MQTT_CA_CERTS=
WM_SERVICES_MQTT_CLIENT_CRT=
WM_SERVICES_MQTT_CLIENT_KEY=
